@import 'materialize.css';

$PC: #5B8499;
$SC: #19242A;



.logo {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 7rem;
}


header, main, footer {
	padding-left: 300px;

    @media only screen and (max-width : 992px) {
		padding-left: 0;
	}

}

.sidenav{
	
	background-color: $SC;

	
	li {
		padding-top: 15px;
	}

	li > a {
		font-size: 14px;
		color: #fff;
		cursor: pointer;

		i {
			color: #fff !important;
		}
	}

    i {
		color: #fff;
		cursor: pointer;
	}

	.input-field {

		margin: 20px 7px 10px 7px;
		border-bottom: solid 2px #9e9e9e;
		transition: color .2s;
		

		input{
			border-bottom-width: 0px;
			font-size: 18px;
			color:#fff;
		}
	}
}

body {
    background: #FFF;
}

.nav-wrapper{
	background: $PC;
}


nav{
	
	height: 70px;
	
	a {
		height: 70px;
		
		font-weight: 500;
	}
	
	.sidenav-trigger {
		height: 70px !important;
	}
	
}
