.logo {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 7rem;
    color: #846C63 !important;
}

.title {
    color: #846C63 !important;
}

body {
    background: #F6F4F1;
}


nav a {
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: 500;
    height: 70px;
}

nav .sidenav-trigger {
    height: 70px !important;
}

nav {
    height:70px;
}
